/* VideoComment component styling */
@use "../../styles/partials/global";
@use "../../styles/partials/mixin";

.videoComment {
	display: flex;
	width: 100%;
	flex-direction: row;
	border-bottom: 1px solid global.$Mercury;
	padding-top: 1rem;
	padding-bottom: 1rem;

	@include mixin.tablet {
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
	}

	&__wrapper {
		display: flex;
		width: 100%;
		flex-direction: column;
		padding-left: 1rem;

		@include mixin.tablet {
			padding-left: 1.5rem;
		}

		@include mixin.desktop {
			padding-right: 1.5rem;
		}

		p {
			@include global.mobile-body-copy;

			@include mixin.tablet {
				@include global.tablet-body-copy;
			}
		}
	}

	&__comment-info {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 0.5rem;
	}

	&__user-name {
		font-weight: 600;
	}

	&__timestamp {
		color: global.$Silver;
	}

	&__comment {
		width: 100%;
	}
}
