/** Button styling*/
@use "../../styles//partials/global";
@use "../../styles/partials/mixin";

.button {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;

	@include mixin.tablet {
		max-width: 11rem;
	}

	&__btn {
		@include mixin.button;
		background-position: 0.75rem center;
		background-repeat: no-repeat;
		width: 100%;
		&:hover {
			background-color: global.$BrainFlix-DarkBlue;
		}
	}
}
