/* MainVideo component styling */
@use "../../styles/partials/global";
@use "../../styles/partials/mixin";

.mainVideo {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
	width: 100%;
	height: auto;

	&__content-box {
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 1rem;
	}

	&__video-title {
		display: flex;
		width: 100%;
		border-bottom: 1px solid global;
		align-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-top: 1.5rem;
		padding-bottom: 1rem;
		margin-bottom: 0.5rem;

		@include mixin.tablet {
			border-bottom: unset;
		}
	}

	&__video-blurb {
		width: 100%;
		height: auto;
		@include global.mobile-body-copy;

		@include mixin.tablet {
			@include global.tablet-body-copy;
		}
	}

	p,
	h3 {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}
