/* VideoComment component styling */
@use "../../styles/partials/global";
@use "../../styles/partials/mixin";

.videoCard {
	display: flex;
	width: 100%;
	flex-direction: row;
	padding-bottom: 1rem;

	&__image {
		width: 35%;
		height: auto;
		border-radius: 4px;
		background-color: global.$Mercury;
	}

	&__info {
		display: flex;
		width: auto;
		flex-direction: column;
		padding-left: 1rem;
		justify-content: space-between;
	}

	&__title,
	&__channel {
		@include global.mobile-body-copy;
		text-align: left;
	}

	&__title {
		font-weight: 600;
	}
}
