/* VideoComment component styling */
@use "../../styles/partials/global";
@use "../../styles/partials/mixin";

.videoCard {
	display: flex;
	width: 100%;
	flex-direction: row;
	padding-bottom: 1rem;
	max-width: 22rem;

	&__image {
		width: 35%;
		height: auto;
		border-radius: 4px;
		background-color: global.$Mercury;
	}

	&__info {
		display: flex;
		width: auto;
		max-width: 11rem;
		flex-direction: column;
		padding-left: 1rem;
		justify-content: space-between;

		@include mixin.tablet {
			max-width: 12rem;
		}
	}

	&__title,
	&__channel {
		@include global.mobile-body-copy;
		text-align: left;

		@include mixin.tablet {
			@include global.tablet-body-copy;
			line-height: 1.25rem;
		}
	}

	&__title {
		font-weight: 600;
	}
}
