/* Global site styling  */

/* Colors */
/* Used for typography, components, branding and are
solid @ 100% opacity, unless stated otherwise */

/* Primary Colors*/
$BrainFlix-Black: #323232; // Primary text color
$BrainFlix-Blue: #0095ff; // Primary CTA color. Active form field outline color
$Silver: #afafaf; // Secondary text color. Text label color.
$White: #fff; // Background color. CTA text color.

/* Secondary Colors */
$BrainFlix-DarkBlack: #000; // Video player components
$BrainFlix-DarkBlue: #0065ad; // CTA hover state color
$Mercury: #e1e1e1; // Divider line. Form field outline
$Alabaster: #fafafa; // Form field background color

/* Error Code colors */
$FormError: #d22d2d; // form validation error state color

/* Media Breakpoints */
$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Fonts */
$siteFontFamily: "Avenir-Next";
@font-face {
	font-family: $siteFontFamily;
	src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"),
		url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: $siteFontFamily;
	src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"),
		url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: $siteFontFamily;
	src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"),
		url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
	font-weight: 700;
}

/* Mixins */
@mixin mobile-page-header {
	font-family: $siteFontFamily;
	font-size: 1.5rem;
	line-height: 2rem;
}

@mixin mobile-section-header {
	font-family: $siteFontFamily;
	font-size: 0.75rem;
	line-height: 1.25rem;
}

@mixin mobile-subheader {
	font-family: $siteFontFamily;
	font-size: 0.813rem;
	line-height: 1.125rem;
}

@mixin mobile-body-copy {
	font-family: $siteFontFamily;
	font-size: 0.813rem;
	line-height: 1.25rem;
}

@mixin mobile-label {
	font-family: $siteFontFamily;
	font-size: 0.625rem;
	line-height: 1.25rem;
}

@mixin mobile-button {
	font-family: $siteFontFamily;
	font-size: 0.625rem;
	line-height: 1.25rem;
}

@mixin tablet-page-header {
	font-family: $siteFontFamily;
	font-size: 2.063rem;
	line-height: 2.75rem;
}

@mixin tablet-section-header {
	font-family: $siteFontFamily;
	font-size: 0.75rem;
	line-height: 1.25rem;
}

@mixin tablet-subheader {
	font-family: $siteFontFamily;
	font-size: 0.875rem;
	line-height: 1.375rem;
}

@mixin tablet-body-copy {
	font-family: $siteFontFamily;
	font-size: 0.875rem;
	line-height: 1.375rem;
}

@mixin tablet-label {
	font-family: $siteFontFamily;
	font-size: 0.75rem;
	line-height: 1.25rem;
}

@mixin tablet-button {
	font-family: $siteFontFamily;
	font-size: 0.75rem;
	line-height: 1.25rem;
}

@mixin mobile {
	@media screen and (max-width: $mobile-breakpoint) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: $tablet-breakpoint) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $desktop-breakpoint) {
		@content;
	}
}

@mixin button {
	height: 2.5rem;
	background-color: $BrainFlix-Blue;
	color: $White;
	text-transform: uppercase;
	border-style: none;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 4px;

	@include tablet {
		width: unset;
	}
}

/* extensions */

/* Initialization */
* {
	font-family: $siteFontFamily, "Times New Roman", Times, serif;
}

a {
	text-decoration: none;
}
