@use "./global";

@mixin mobile {
	@media screen and (max-width: global.$mobile-breakpoint) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: global.$tablet-breakpoint) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: global.$desktop-breakpoint) {
		@content;
	}
}

@mixin button {
	height: 2.5rem;
	background-color: global.$BrainFlix-Blue;
	color: global.$White;
	text-transform: uppercase;
	border-style: none;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 4px;

	@include tablet {
		width: unset;
	}
}
