/** Comment Form styling */
@use "../../styles/partials/global";
@use "../../styles/partials/mixin";

.commentForm {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding-bottom: 1rem;
	align-items: flex-start;
	border-bottom: 1px solid global.$Mercury;

	&__title {
		padding-bottom: 0.5rem;
		h3 {
			font-weight: 600;
		}
	}

	&__form-container {
		display: flex;
		width: 100%;
	}

	&__form {
		display: flex;
		width: 100%;
		flex-direction: row;
	}

	&__textarea {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__avatar-container {
		padding-top: 1.25rem;
		margin-right: 1rem;
	}

	&__form-input {
		margin-bottom: 1rem;
		border-radius: 4px;
		border: 1px solid global.$Mercury;
		background-color: global.$Alabaster;
		padding: 0.75rem;

		&:active {
			border: 1px solid global.$BrainFlix-Black;
		}
	}

	&__form-label {
		@include global.tablet-label;
		text-transform: uppercase;
		color: global.$Silver;
	}
}

textarea {
	resize: none;
}
