/* VideoPlayer component styling */

@use "../../styles/partials/global";
@use "../../styles/partials/mixin";

.videoPlayer {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: global.$BrainFlix-Black;

	video {
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;

		@include mixin.tablet {
			width: 90%;
		}
	}
}
