/* logo.scss */
@use "../../styles//partials/global";
@use "../../styles/partials/mixin";

.upload {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	border-top: 1px solid global.$Mercury;
	border: 1px solid blue;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;

	@include mixin.tablet {
		padding-left: 2.25rem;
		padding-right: 2.25rem;
	}

	@include mixin.desktop {
		height: 50vh;
		padding-left: 7.5rem;
		padding-right: 7.5rem;
	}

	&__title {
		@include global.mobile-page-header;
		font-weight: 700;
		padding-top: 1rem;
		padding-bottom: 1rem;

		@include mixin.tablet {
			@include global.tablet-page-header;
			padding-top: 2.25rem;
			padding-bottom: 2.25rem;
		}
	}

	&__container {
		@include mixin.tablet {
			border-top: 1px solid global.$Mercury;
		}
	}
}
