/** Avatar styling*/
@use "../../styles//partials/global";
@use "../../styles/partials/mixin";

.avatar {
	flex: none;
	background-color: global.$Mercury;
	border-radius: 50%;
	width: 2.25rem;
	height: 2.25rem;
	border: none;
	display: none;

	@include mixin.tablet {
		margin-left: 1rem;
		display: flex;
	}

	@include mixin.desktop {
		margin-left: 2rem;
	}

	&__img {
		@extend .avatarImg;
	}
}

#searchBar-avatar {
	display: flex;

	@include mixin.tablet {
		display: none;
	}
}

#button-avatar {
	display: none;

	@include mixin.tablet {
		display: flex;
	}
}

#commentForm-avatar {
	display: flex;
}

#comment-avatar {
	display: flex;
}
