/* avatar.scss */
@use "../../styles/partials/global";

.avatar {
	display: flex;
	background-color: global.$Mercury;
	background-image: url("../../assets/Images/Mohan-muruge.jpg");
	background-size: cover;
	background-position: 25% 50%;
	border-radius: 50%;
	width: 2.25rem;
	height: 2.25rem;
}
