/** Avatar styling*/
/* Global site styling  */
/* Colors */
/* Used for typography, components, branding and are
solid @ 100% opacity, unless stated otherwise */
/* Primary Colors*/
/* Secondary Colors */
/* Error Code colors */
/* Media Breakpoints */
/* Extensions */
.avatarImg, .avatar__img {
  display: flex;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 50%;
     object-position: 0 50%;
  max-width: 100%;
  height: 100%;
}

/* Fonts */
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
/* Mixins */
/* Global site styling  */
/* Colors */
/* Used for typography, components, branding and are
solid @ 100% opacity, unless stated otherwise */
/* Primary Colors*/
/* Secondary Colors */
/* Error Code colors */
/* Media Breakpoints */
/* Extensions */
.avatarImg, .avatar__img {
  display: flex;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 50%;
     object-position: 0 50%;
  max-width: 100%;
  height: 100%;
}

/* Fonts */
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
/* Mixins */
.avatar {
  flex: none;
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  border: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .avatar {
    margin-left: 1rem;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .avatar {
    margin-left: 2rem;
  }
}
#searchBar-avatar {
  display: flex;
}
@media screen and (min-width: 768px) {
  #searchBar-avatar {
    display: none;
  }
}

#button-avatar {
  display: none;
}
@media screen and (min-width: 768px) {
  #button-avatar {
    display: flex;
  }
}

#commentForm-avatar {
  display: flex;
}

#comment-avatar {
  display: flex;
}/*# sourceMappingURL=Avatar.css.map */