/* Index page styling*/
@use "./styles/partials/global";

/* Initialization */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: global.$BrainFlix-Black;
	font-weight: 400;
	font-family: global.$siteFontFamily, "Times New Roman", Times, serif;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
}

a {
	text-decoration: none;
}

h2 {
	@include global.mobile-page-header;
	font-weight: 700;
}
h3 {
	@include global.mobile-subheader;
	font-weight: 600;
}
